<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>HOCO Reservation System</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />

</head>
<body>

	<header>
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" th:href="@{/}">HOCO</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
					aria-controls="navbarCollapse" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav me-auto mb-2 mb-md-0">
						<li class="nav-item"><a class="nav-link "
							aria-current="page" th:href="@{/}">Home</a></li>
						<li class="nav-item"><a class="nav-link active"
							th:href="@{../reservations}">Reservations</a></li>

					</ul>
					<div class="text-muted" sec:authorize="isAuthenticated()">
						<span class="navbar-text"> Currently logged in as: <b><span
								sec:authentication="name"></span></b></span>
						<form class="d-flex" th:action="@{/logout}" method="get">

							<input type="submit" class="btn btn-sm btn-danger fw-bold "
								value="Sign out" />

						</form>
					</div>
					<form sec:authorize="!isAuthenticated()" class="d-flex"
						th:action="@{/login}" method="get">
						<input type="submit" class="btn btn-sm btn-primary fw-bold "
							value="Sign in" />

					</form>

				</div>
			</div>
		</nav>
	</header>
	<main>

		<section class="py-5 text-center container">
			<div class="row py-lg-5">
				<div class="col-lg-6 col-md-8 mx-auto">
					<h1 class="fw-light">Reservation overview</h1>
					<p class="lead text-muted">Below you can check current
						reservation status.</p>
					<p>
						<a th:href="@{reservations/reserve}" class="btn btn-primary my-2">Create a reservation</a>
						<a href="#" class="btn btn-secondary my-2">Manage my
							reservations</a>
					</p>
				</div>
			</div>
		</section>

		<div class="album py-5 bg-light">
			<div class="container">

				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
					<div class="col">
						<div class="card shadow-sm">
							<img th:src="@{/img/laundromat.jpg/}"
								class="bd-placeholder-img card-img-top" width="100%"
								height="175">
							<div class="card-header bg-danger text-white text-center ">
								In use</div>
							<div class="card-body">
								<h5 class="card-title">Laundromat</h5>
								<div class="card-header">
									<b>Current Reservation: </b>
								</div>
								<table class="table table-hover">
									<tbody>
										<tr>
											<td>12:00-14:00</td>
											<td>A15</td>
										</tr>
									</tbody>
								</table>
								<div class="card-header">
									<b>Next Reservations: </b>
								</div>
								<table class="table table-hover">
									<tbody>
										<tr>
											<td>15:00-17:00</td>
											<td>A28</td>
										</tr>
										<tr>
											<td>17:00-20:00</td>
											<td>A5</td>
										</tr>
									</tbody>
								</table>

							</div>
						</div>
					</div>
					<div class="col">
						<div class="card shadow-sm">
							<img th:src="@{/img/sauna.jpg/}"
								class="bd-placeholder-img card-img-top" width="100%"
								height="175">
							<div class="card-header bg-success text-white text-center">
								Free</div>
							<div class="card-body">
								<h5 class="card-title">Sauna</h5>
<div class="card-header">
									<b>Current Reservation: </b>
								</div>
								<table class="table table-hover">
									<tbody>

									</tbody>
								</table>
								<div class="card-header">
									<b>Next Reservations: </b>
								</div>
								<table class="table table-hover">
									<tbody>
										<tr>
											<td>15:00-17:00</td>
											<td>A28</td>
										</tr>
										<tr>
											<td>17:00-20:00</td>
											<td>A5</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="card shadow-sm">
							<img th:src="@{/img/workshop.jpg/}"
								class="bd-placeholder-img card-img-top" width="100%"
								height="175">
							<div class="card-header bg-danger text-white text-center">
								In use</div>
							<div class="card-body">
								<h5 class="card-title">Workshop</h5>
<div class="card-header">
									<b>Current Reservation: </b>
								</div>
								<table class="table table-hover">
									<tbody>
										<tr>
											<td>12:00-14:00</td>
											<td>A15</td>
										</tr>
									</tbody>
								</table>
								<div class="card-header">
									<b>Next Reservations: </b>
								</div>
								<table class="table table-hover">
									<tbody>
										<tr>
											<td>15:00-17:00</td>
											<td>A28</td>
										</tr>
										<tr>
											<td>17:00-20:00</td>
											<td>A5</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

					<div class="col">
						<div class="card shadow-sm">
							<img th:src="@{/img/guestroom.jpg/}"
								class="bd-placeholder-img card-img-top" width="100%"
								height="175">
							<div class="card-header bg-success text-white text-center">
								Free</div>
							<div class="card-body">
								<h5 class="card-title">Guest room</h5>

<div class="card-header">
									<b>Current Reservation: </b>
								</div>
								<table class="table table-hover">
									<tbody>
	
									</tbody>
								</table>
								<div class="card-header">
									<b>Next Reservations: </b>
								</div>
								<table class="table table-hover">
									<tbody>

									</tbody>
								</table>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>


	</main>

	<footer class="text-muted py-5">
		<div class="container">
			<p class="float-end mb-1">
				<a href="#">Back to top</a>
			</p>
			<p class="mb-1">Album example is &copy; Bootstrap, but please
				download and customize it for yourself!</p>
			<p class="mb-0">
				New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a
					href="../getting-started/introduction/">getting started guide</a>.
			</p>
		</div>
	</footer>


	<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>
