<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>HOCO Reservation System</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />

</head>
<body>

	<header>
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" th:href="@{/}">HOCO</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
					aria-controls="navbarCollapse" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav me-auto mb-2 mb-md-0">
						<li class="nav-item"><a class="nav-link "
							aria-current="page" th:href="@{/}">Home</a></li>
						<li class="nav-item"><a class="nav-link "
							th:href="@{reservations}">Reservations</a></li>

					</ul>
					<div class="text-muted" sec:authorize="isAuthenticated()">
						<span class="navbar-text"> Currently logged in as: <b><span
								sec:authentication="name"></span></b></span>
						<form class="d-flex" th:action="@{/logout}" method="get">

							<input type="submit" class="btn btn-sm btn-danger fw-bold "
								value="Sign out" />

						</form>
					</div>
					<form sec:authorize="!isAuthenticated()" class="d-flex"
						th:action="@{/login}" method="get">
						<input type="submit" class="btn btn-sm btn-primary fw-bold "
							value="Sign in" />

					</form>

				</div>
			</div>
		</nav>
	</header>